:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  &__title {
    font-size: 1.5rem;
  }
  &__form {
    min-width: 350px;
  }
  &__form-field {
    display: block;
  }
}
